	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header ">
	      <a class="navbar-brand" href="#">
	        1714-hjz 
	      </a>
	    </div>
	  </div>
	  <ul class="nav nav-tabs" style="padding-left:20px">
	  	<li role="presentation" class="tabs"><a href="/">首页</a></li>
		<li role="presentation" class="tabs"><a href="/goods/list">列表</a></li>
		<li role="presentation" class="tabs"><a href="/users/login">登录</a></li>
		<li role="presentation" class="tabs"><a href="/users/regi">注册</a></li>
		<li role="presentation" class="tabs"><a href="/goods/detail?goodid=1">详情</a></li>
		<div class="hidden" id="info">
			<li class="pull-left mr10 " style="height:44px;line-height:44px;width:150px;">	
				<span style="float:left">昵称：</span>
				<div id="nickname" style="float:left"></div>
				
				<div class="dropdown "  style="float: left;margin-left:10px">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" >
				    购物车
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu menu"  style='display:none;'>
				    
				  </ul>
				</div>
			</li>
			<li class="pull-left mr10" id="leave" style='margin-top: 4px;'>
				<button class="btn-lg btn-primary pull-left">
					<span class="caret mr10"></span>退出
				</button>
			</li>
		</div>
		<div class="" id="ctr">
		<li class="pull-left mr10"><a class="btn-lg btn-primary pull-left" href="/users/login"><span class="caret mr10"></span>登录</a></li>
		<li class="pull-left mr10"><a class="btn-lg btn-primary pull-left" href="/users/regi"><span class="caret mr10"></span>注册</a></li>
		</div>
	  </ul>
	</nav>