body{
	background: #eee;
}

button{
	border: 0;
}

.mr10{
		margin-right: 10px;
	}


.good_img{
		height: 200px!important;
	}

.btn-lg{
	font-size: 12px!important;
}

.cart-item{
	width:200px;height:130px;
}

.menu{
	padding: 0;
	width: 400px;
}

.item{
	/* box-shadow: 0 0 5px #000; */
	border-bottom: 1px solid #ccc;
	/* padding-left: 10px; */
	padding-top: 10px;
}

.item p{
	text-align: left;
	/* padding: 0 20px; */
	padding-left: 20px;float: left;
}

.item .tt{
	padding-left: 0px;
	line-height: 1;
	float: none;
}

.item div{
	text-align: left;
	/* padding: 0 20px; */
	padding-left: 20px;
	float: left;
	padding-top: 10px;
}

.item p.ctr{
	padding-left: 0;
}

.item button{
	padding: 5px;
}

.item .sel{
	padding-top: 0;
}


.item_tt{
	border-bottom: 2px solid #000;
	padding: 5px 0;
}

.item_tt button{
	margin-right: 10px;
	border: 0;
	padding: 5px;
}

.empty{
	width: 100px;
	height: 80px;
	/* display: block; */
	margin-left: 20px;
}

.empty+span{
	margin-left: 20px;
	font-weight: bold;
}


